<div class="p-2 d-flex flex-column border border-dark">
    <h1 class="text-center">Chat Zone</h1>
    <input type="text" id="email" placeholder="Introduzca su email" class="m-1">
    <div class="m-1" id="messages"></div>
    <input type="text" id="mensaje" placeholder="Escriba su msj" class="m-1">
    <button type="button" onclick="sendMessage()" class="btn btn-primary">Enviar</button class="m-1">
</div>