<div class="container border border-dark">
    <form id="form" action="/productos" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="title" />
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Price</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="price" />
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Thumbnail</label>
            <input type="url" class="form-control" id="exampleInputPassword1" name="thumbnail" />
        </div>

        <div class="container text-center m-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>