{{>headers}}
<div class="m-4">
    <div class="m-2">
        {{> formPost}}
    </div>
    <div class="m-2">{{> tableProducts}}</div>
    <div class="m-2">
        {{> chat}}
    </div>
</div>

{{>scripts}}